<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="./js/newbrain/main.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="hello">Welcome to <%= title %></p>
    <p class="dashboard"></p>
  </body>
</html>
